name: Style & Linting

on: pull_request

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install linting tools
        run: pip install ruff codespell
      - name: Run Ruff
        run: ruff check q1k
      - name: Run Codespell
        run: codespell q1k
